<h3>Error</h3>
<div class="alert alert-danger" role="alert">
  <h4>The system encountered an error processing that request. Please refresh or try again later.</h4>
  <strong>Message: </strong>{{model}}
</div>